body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,span,a,label{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}
@keyframes xuanzhuan{
  0%{ transform:rotate(0deg); }
100%{ transform:rotate(720deg); }
}
@keyframes xuanzhuanyizhou{
  0%{ transform:rotate(0deg); }
100%{ transform:rotate(180deg); }
}
.cred{
  color: red;
}
.hover-blue:hover{
  color: blue;
}
.hover-ff6600{
  color: #444444;
  &:hover{
    color: #ff6600;
  }
}
.mr-12{
  margin-right: 12px;
}
.mr-14{
  margin-right: 14px;
}
.mr-5{
  margin-right: 5px;
}
.mr-4{
  margin-right: 4px;
}
.head-wrap{
  width: 100%;
  height: 29px;
  background: #f5f5f5;
  .head{
    .head-right{
      float: right;
      margin-right: 5px;
      .mypet{
        position: relative;
        ul{
          position: absolute;
          clean:both;
          top: 29px;
          left: -10px;
          display: none;
          list-style-type:square;
          li{
            padding-left:5px;
            width: 103px;
            background: #fff;
            height:25px;

          }
        }
        &:hover{
            ul{
              display: block;
              li:hover{
                color:blue;
              }
            }
        }
      }

    }
    *{
      float: left;
    }
    width: 1200px;
    margin:0 auto;
    margin-right: 31.5px;
    line-height: 29px;
    img{
      float: left;
    }
    .wtfk{
      color: #ff0000;
      &:hover{
        color: blue;
      }
    }
  }
}
/*------------------------------以上是head-------------------------------------*/
.celan{
  width: 35px;
  height:100%;
  background: #444444;
  position: fixed;
  right:0;
}
/*------------------------------以上是侧栏-------------------------------------*/
.banner-wrap{
  overflow: hidden;
  width: 100%;
  height:83px;
  .banner{
    display: block;
    margin:0 auto;
    margin-right: 31.5px;
    width: 1200px;
  }
}
/*------------------------------以上是banner-------------------------------------*/
.header-wrap{
  width:100%;
  height: 110px;
  padding-top: 10px;
  .header{
    width: 1200px;
    height:94px;
    margin:0 auto;

    .logo{
      width: 268px;
      height:94px;
      float: left;
      .lo{
        margin-top: 7px;
        display: inline-block;
        width: 268px;
        height:94px;
        background: url(../img/epet-logo.png) no-repeat 0 -12px;
      }
    }
    .search{
      float: left;
      width:498px;
      height: 71px;
      margin:23px 0 0 33px;
      .search-form{
        width: 498px;
        height: 34px;
        input{
          border: #459d36 solid 2px;
          background: 0 0;
          padding: 0 5px 0 15px;
          width: 382px;
          height: 30px;
          outline: 0;
          line-height: 30px;
          font-size: 14px;
          float: left;
        }
        button{
           border: 0;
            width: 73px;
            height: 34px;
            vertical-align: top;
            cursor: pointer;
            background-color: #459d36;
            color: #FFF;
            font-size: 14px;
        }
      }
      .keyword{
        margin: 10px 0;
        width: 498px;
        height: 17px;
        overflow: hidden;
        span{
          color: #999;
          margin: 0 6.5px;
        }
        label{
          float: left;
          display: inline;
          white-space: nowrap;
          color: #999;
        }
        a{
          color: #999;
          font-size: 12px;
          &:hover{
            color: #444;
          }
        }
      }
    }
    .phone{
      font-size: 14px;
      font-weight: 700;
      padding-top: 25px;
      width: 220px;
      height:22px;
      margin: 30px 0 0 40px;
      float: left;
      background:url(../img/bg01.png) no-repeat;
      background-position: 0 -521px;
    }
    .go-buy{
      margin: 23px 0 0;
      width: 130px;
      height: 39px;
      text-align: center;
      text-indent: 2em;
      background: url(../img/shopping-cart.gif) no-repeat;
      float: right;
      a{
            line-height: 39px;
            em{
              display: inline-block;
              vertical-align: middle;
              margin-top: -4px;
              color: #f40;
              text-indent: 0;
              margin-left: 2px;
              font-style: normal;
            }
      }
    }
  }
}
/*------------------------------以上是header-------------------------------------*/

.nav-wrap{
  background: #fff;
  padding-top: 10px;
  height: 34px;
  margin-top:-10px;
  .nav{
    width:1200px;
    height:34px;
    margin: 0 auto;
    .nav-left{
      .nav-dog{
        margin-top:34px;
        width:228px;
        height:358px;
        .nav-dog-1{
          background-color: #f5f5f5;
          width:228px;
          height:119px;
          position: relative;
          font-size: 12px;
          overflow: hidden;

          .p-link{
            display: inline-block;
            width: 108px;
            height: 28px;
            line-height: 30px;
            text-align: center;
            border: 1px solid #aeaeae;
            border-radius: 3px;
            color: #aeaeae;
            margin:5px 0 0  70px;
            &:hover{
            
                border: 1px solid #999;
                background: #e5e5e5;

            }
          }
          .c999{
            line-height: 24px;
            padding-bottom: 4px;
            color: #333;
            margin:23px 0 0  70px;
          }
          .dog-pic{
            display: inline-block;
            width: 60px;
            height: 60px;
            margin-top: 27px;
            background: url(../img/new_petcate.png);
            position: absolute;
            left: 20px;
          }
        }
      }
      float: left;
      width: 228px;
      height: 34px;
      line-height: 32px;
      color: #FFF;
      font-size: 16px;
      text-align: center;
      .nav-1{

        float: left;
        width: 112px;
        height: 32px;
        text-align: center;
        border: 1px solid #e1e1e1;
        color: #666;
        cursor: pointer;
        &:hover{
          .cate1{
            transform:rotate(180deg);
            transition: all 0.3s;
          }
        }
        .cate1{
          display: inline-block;
          vertical-align: middle;
          margin-top: -2px;
          background: url(../img/bg2.png);
          margin-left: 5px;
          width: 16px;
          height: 13px;
          background-position: -17px -1257px;

        }
      }
    }
    .nav-right{
      li{
        float: left;
        display: inline;
        z-index: 102;
        position: relative;
        a{
          display: inline;
          line-height: 34px;
          font-size: 16px;
          color: #000;
          font-weight: 700;
          padding: 0 25px;
          text-decoration: none;
          outline: 0;
          height: 34px;
          &:hover{
            color:#459d36;
            b{
              animation: xuanzhuan 0.2s;
            }
          }
          b{
            display: inline-block;
            width: 13px;
            height: 17px;
            background: url(../img/bg2.png) -35px -1280px;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 6px;
          }
        }
      }
    }
  }
}
/*------------------------------以上是nav-------------------------------------*/
.lunbo-wrap{
  width: 100%;
  height: 360px;
  overflow:hidden;
}
