body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,span,a,label{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family:"微软雅黑";}
input,a{outline:none;}
.cred{
  color: red;
}
.hover-blue:hover{
  color: blue;
}
.hover-ff6600{
  color: #444444;
  &:hover{
    color: #ff6600;
  }
}
.mr-12{
  margin-right: 12px;
}
.mr-14{
  margin-right: 14px;
}
.mr-5{
  margin-right: 5px;
}
.mr-4{
  margin-right: 4px;
}
.head-wrap{
  width: 100%;
  height: 29px;
  background: #f5f5f5;
  .head{
    .head-right{
      float: right;
      margin-right: 5px;
      .mypet{
        position: relative;
        ul{
          position: absolute;
          clean:both;
          top: 29px;
          left: -10px;
          display: none;
          list-style-type:square;
          li{
            padding-left:5px;
            width: 103px;
            background: #fff;
            height:25px;

          }
        }
        &:hover{
            ul{
              display: block;
              li:hover{
                color:blue;
              }
            }
        }
      }

    }
    *{
      float: left;
    }
    width: 1200px;
    margin:0 auto;
    margin-right: 31.5px;
    line-height: 29px;
    img{
      float: left;
    }
    .wtfk{
      color: #ff0000;
      &:hover{
        color: blue;
      }
    }
  }
}
/*------------------------------以上是head-------------------------------------*/
.celan{
  width: 35px;
  height:100%;
  background: #444444;
  position: fixed;
  right:0;
}
/*------------------------------以上是侧栏-------------------------------------*/
.banner-wrap{
  overflow: hidden;
  width: 100%;
  height:83px;
  .banner{
    display: block;
    margin:0 auto;
    margin-right: 31.5px;
    width: 1200px;
  }
}
/*------------------------------以上是banner-------------------------------------*/
.header-wrap{
  width:100%;
  height: 110px;
  padding-top: 10px;
  .header{
    width: 1200px;
    height:94px;
    margin:0 auto;

    .logo{
      width: 268px;
      height:94px;
      float: left;
      .lo{
        margin-top: 7px;
        display: inline-block;
        width: 268px;
        height:94px;
        background: url(../img/epet-logo.png) no-repeat 0 -12px;
      }
    }
    .search{
      float: left;
      width:498px;
      height: 71px;
      margin:23px 0 0 33px;
      .search-form{
        width: 498px;
        height: 34px;
        input{
          border: #459d36 solid 2px;
          background: 0 0;
          padding: 0 5px 0 15px;
          width: 382px;
          height: 30px;
          outline: 0;
          line-height: 30px;
          font-size: 14px;
          float: left;
        }
        button{
           border: 0;
            width: 73px;
            height: 34px;
            vertical-align: top;
            cursor: pointer;
            background-color: #459d36;
            color: #FFF;
            font-size: 14px;
        }
      }
      .keyword{
        margin: 10px 0;
        width: 498px;
        height: 17px;
        overflow: hidden;
        span{
          color: #999;
          margin: 0 6.5px;
        }
        label{
          float: left;
          display: inline;
          white-space: nowrap;
          color: #999;
        }
        a{
          color: #999;
          font-size: 12px;
          &:hover{
            color: #444;
          }
        }
      }
    }
    .phone{
      font-size: 14px;
      font-weight: 700;
      padding-top: 25px;
      width: 220px;
      height:22px;
      margin: 30px 0 0 40px;
      float: left;
      background:url(../img/bg01.png) no-repeat;
      background-position: 0 -521px;
    }
    .go-buy{
      margin: 23px 0 0;
      width: 130px;
      height: 39px;
      text-align: center;
      text-indent: 2em;
      background: url(../img/shopping-cart.gif) no-repeat;
      float: right;
      a{
            line-height: 39px;
            em{
              display: inline-block;
              vertical-align: middle;
              margin-top: -4px;
              color: #f40;
              text-indent: 0;
              margin-left: 2px;
              font-style: normal;
            }
      }
    }
  }
}
